@charset "UTF-8";

*{
    margin: 0px ;
    padding: 0px;

}
.header{
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    text-shadow: 0px 0px 5px black;
}
:root{

    --fonte-header: Verdana, Helvetica, Arial, Sans Serif;
    --fonte-conteudo: Cursive;
    
    
    
    
}
body{
    background-color: yellow;
    color: white;
    padding: 10px;
    min-height: 100vh;

}
div{
    line-height: 1.3em;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;


}
div.img{
    font-family: var(--fonte-conteudo);
}
div.normal{
    font-family: var(--fonte-conteudo);
}


.header{
    background-color: black;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    font-family: var(--fonte-header);
}
.header h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 3.5vw;
}
.header p{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 2vw;
}
.header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

   
    

.img{
    background-color: white;
    color: black;
}

div p{
    line-height: 1.5em;
    font-size: 3vw;
   padding: 20px;
   display: inline-block;
   text-align: justify;
 
}

    

.footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#img01{
    background-image: url('../projeto-cordel/imagens/background001.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:  white;
    background-attachment: fixed;

}
#img02{
    background-image: url('../projeto-cordel/imagens/background002.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: white;
}



div.normal{
    background-color: white;
    color: black;

}
.img p{
    display: block;
    text-shadow: 1px 1px 6px black;
    background-color: transparent;
    border-radius: 10px;
    border-width: 1px ;
    backdrop-filter: blur(3px);
    width: 300px;
}




